/**
 * Decksys Font Styling Documentation
 *
 * @project   Decksys
 * @version   2.0.0
 * @package   Google Nunito Fonts
 * @Date      Sep 17 2018 -  
 *
**/


/** 
|---------------------------------------------------------
| Fonts Global Declaration (only for local development)
|---------------------------------------------------------
| @ Primary Font   :  Nunito 
| @ Secondary Font :  System Oriented
| 
| Use font weight to determine the type of font because, the family remains the same.
|
*/

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/nunito/Nunito-LightItalic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/nunito/Nunito-ExtraLight.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    src: url(../fonts/nunito/Nunito-ExtraLightItalic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/nunito/Nunito-Italic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/nunito/Nunito-BoldItalic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/nunito/Nunito-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/nunito/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/nunito/Nunito-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/nunito/Nunito-Black.ttf);
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/nunito/Nunito-BlackItalic.ttf);
}

/** 
|---------------------------------------------------------------------------------------------------
| Page 1 :  Landing Page Font Styling Section  
|---------------------------------------------------------------------------------------------------
|
**/


.bannerSection .bannerText h3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700 !important;
    color: #fff;
}

.bannerSection .bannerText p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400 !important;
    color: #fff;
    font-size: 1.1em;
}

.services p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600 !important;
    color: #fff;
    font-size: 1.1em;
}

.userServices p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600 !important;
    color: #032b42;
    font-size: 0.9em;
}
