/**
 * Decksys Media Query Styling Documentation
 *
 * @project   Decksys
 * @version   2.0.0
 * @Date      Sep 17 2018 -  
 *
**/

/** 
|---------------------------------------------------------
| Global Declaration (If any)
|---------------------------------------------------------
|
*/



/** 
|---------------------------------------------------------------------------------------------------
| Page 1 :  Landing Page Media Query Styling Section  
|---------------------------------------------------------------------------------------------------
|
**/


@media only screen and (max-width:767px) {
    .navTwo .container {
        max-width: 100%;
    }
	.footerContact .imgContainer {
    height: 32px;
    width: 32px;
   
    top: 10px;
}

.footerContact .textContainer {
   
    left: 60px;
}
}

@media only screen and (max-width:300px) {
    header .container {
        margin: 0 auto;
    }
.copyrights {
    margin-top: 140px;
}

.copyrights ul.policy {
    text-align: center;
}

.copyrights ul.policy li {
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid #fff;
    margin-bottom: 5px;
}

.copyrights ul.policy li:last-child {
    border-right: unset;
}

.copyrights ul.policy {
    margin-bottom: 10px;
}
}


@media only screen and (min-width:768px) {
    header .container {
        margin: 0 auto;
    }
    

    .bannerSection {
        height: 450px;
    }

    /* .bannerText {
        width: 40%;
        text-align: unset;
        top: 50%;
        right: 15%;
        bottom: unset;
        left: unset;
        max-width: 400px;
    } */

    .serviceHolder {
        margin-right: 1px;
    }

    
    .userServices p {
        display: unset;
    }

    .userServices img {
        height: 18px;
        left: 10px;
        transform: unset;
    }

    .userServices p {
        left: 40px;
        top: 19px;
    }
    
}

@media only screen and (min-width:991px) {
    .bannerText {
        right: 18%;
    }
    .navOne .col-md-2 {
        max-width: 11.666667% !important;
    }
}

@media only screen and (min-width:1200px) {
    .bannerText {
        right: 20%;
    }
    .navOne .col-md-2 {
        max-width: 10% !important;
    }
    .navOne .col-xl-2 {
        max-width: 14.2% !important;
    }
}
@media only screen  and (max-width:575px) {
    .priceBorder{
        border-right:0px;
    }
}