/**
 * Decksys General Styling Documentation
 *
 * @project   Decksys
 * @version   2.0.0
 * @framework Bootstrap v4.0.0
 * @Date      Sep 17 2018 -  
 *
**/

/** 
|---------------------------------------------------------
| Global Declaration (If any)
|---------------------------------------------------------
|
*/







/** 
|---------------------------------------------------------------------------------------------------
| Page 1 :  Landing Page Styling Section  
|---------------------------------------------------------------------------------------------------
|


/*++++++++++++++++++++++++> Section:navOne <+++++++++++++++++++++++++ */
header {
    width: 100%;
}

header .container {
    margin: 0;
}

.appHeader .navOne {
     /* background-color: #008dd2; */
    height: 60px;
    
}

.navOne .container {
    padding-right: 0;
}


.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}


.brandLogo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12.5px 0;  
}

.brandLogo img {
    height: 35px;
}

.navOne .userServices {
    position: relative;
    border-right: 1px solid #fff;
    overflow: auto;
    height: 60px;
}

.navOne div.userServices:hover {
    cursor: pointer;
}



.userServices img {
    height: 16px;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);
}

.userServices p {
    font-size: 12px;
    position: absolute;
    top: 18px;
    left: 30px;
    display: none;
}

/*++++++++++++++++++++++++> Section:navTwo <+++++++++++++++++++++++++ */

.img-logo{
    width: 63%;
    padding: 4px;
}
.bgcolor{
    background-color:#51a3db;
}
/*++++++++++++++++++++++++> Section:bannerSection <+++++++++++++++++++++++++ */

.bannerSection {
    /* height: 350px; */
    /* background-image: url("../../resources/img/Home/home-banner.jpg"); */
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    border-bottom: 1px solid seagreen;
    position: relative;  
}
.carousel-inner img {
    width: 100%; 
    height: 100%;
}


/*++++++++++++++++++++++++> Section : Services Section <+++++++++++++++++++++++++ */

.services {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.serv{
    padding: 0;
    
    background-color:lavender; 
}

.ul{
    list-style-type:none;
}
 .serviceHolder {
    /* background-color: #444; */
    position: relative;
    padding: 15px 0;
    height: 80px;
    margin-bottom: 1px;
}

.servicesContent {
    height: inherit;
    width: 75%;
    position: relative;
    margin: 0 auto;
    overflow: auto;
} 
.list{
    list-style-type: none;
    justify-content: baseline;
    line-height: 2.5;
    display: inline-block; 
    text-align: left;
    font-weight: bold;
}


.background{
    background-color: #386fa7;
}


.serviceHolder .imgContainer {
    position: absolute;
    left: 10px;
}

.serviceHolder .imgContainer > img {
    height: 50px;
}
.boxShadow{
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.10); */
   box-shadow: 14px 7px 12px #c5c4c4;
}



.serviceHolder .textContainer {
    position: absolute;
    left: 80px;
    top: 13px;
    white-space: nowrap;
} 
/*++++++++++++++++++++++++> Section : Features Section <+++++++++++++++++++++++++ */
.features{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lavender;
}

/*++++++++++++++++++++++++> Section : FAQ Section <+++++++++++++++++++++++++ */
#accordion .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;
}
#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    color: black; 
    /*border: 1px solid #ececec;*/
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}
#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #676767;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    font-family: "FontAwesome";
    content: "\f067";
   
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    /* color: #f81ac1; */
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    color: #676767;
    transform: rotate(0);
}
#accordion .panel-title a:after{
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body{
    padding: 0px 15px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
}
/*++++++++++++++++++++++++> Section : Subscription Section <+++++++++++++++++++++++++ */
.home-newsletter {
    padding: 80px 0;
    background: #c3bfbf;
    position: relative;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(18,14,14,0.80);
    }
    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    /* background: rgba(255, 255, 255, 0.6); */
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #62c3ec;
    color: #fff;
    }


/*++++++++++++++++++++++++> Section : Footer Section <+++++++++++++++++++++++++ */

footer {
    background-color:  #366ca4;
    
    color: white;
}
footer hr { 
	width: 20%;
    border: 1px solid #96b8bd;
}
.footerSec1{
	background-color:#366ca4;
}
.footerSec2{
	background-color:#262626;
}


.footerSec1 h4 , .footerSec2 h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerSec1 ul.footerLinks , .footerSec2 ul.footerLinks , .copyrights ul.policy , .copyrights ul.copyright{
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
}

.footerSec1 ul li a:hover , .footerSec2 ul li a:hover , .copyrights ul.policy li a:hover{
    text-decoration: none;
}

.centerCustom {
    margin: 0 auto;
}

.footerSec2 .footerContact {
    position: relative;
    height: 120px;
    max-width: 322px;
    margin: 0px auto;
    margin-top: 10px;
}

.footerSec2 .footerContact .textContainer p {
    margin-bottom: 2px;
}




.socialConnect {
    text-align: center;
    margin-bottom: 40px;
}

.socialConnect h5 {
    margin-bottom: 0;
}

.socialConnect ul.socialItems {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.socialConnect ul.socialItems li {
    display: inline-block;
    padding: 10px 8px;
}
.footerLinks{
    color: white;
}

.copyrights {
    margin-bottom: 40px;
}

.copyrights ul.policy {
    text-align: center;
}

.copyrights ul.policy li {
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid #fff;
    margin-bottom: 5px;
}

.copyrights ul.policy li:last-child {
    border-right: unset;
}

.copyrights ul.policy {
    margin-bottom: 10px;
}

/* -----------------------Vps page------------------------------*/


.checkbox{
	height:30px;
	width:30px;
}

input[type="radio"]{
	-webkit-appearance:checkbox;
	-moz-appearance:checkbox;
	-ms-appearance:checkbox;
	-o-appearance:checkbox;
}

.textHeader{
    font-size:20px;
    background-color: navy;
}
.selectOSHeader,.configurationOSHeader{
    color: #50a3b8;	
    
}

.subHeader,.priceContent
{
	color: red;
	font-weight:bold;
}

.specificationSection,.selectOS,.configurationOS,.pricingSection,.featuresSection{
	background-color:#e3e3e3;	
}
.pricingSection hr{
    width: 20%;
    border: 1px solid navy;
}

.headerTwo,.headerOne{
	font-weight:bold;
    background-color:#e3e3e3;
    color:navy;
}

.button{
	border-radius: 40px !important;
	width:200px;
    font-family: latoblack;
    padding: 10px 50px;
}

 

.priceBorder{
	border-right:1px solid #bebebe;
}

.Vps table{
	box-shadow:20px 20px 40px grey;
}

.Vps td:nth-child(1){
    background: #E5F7FA;
}

.Vps td:nth-child(2){
    background: #BFC0C1;
	text-align:center;
}

.Vps th:nth-child(1){
    background: #026678;
	color:white;
}

.Vps th:nth-child(2){
    background: #01323B;
	color:white;
	text-align:center;
}

.specificationSection  label input {
  visibility:hidden;
}

.specificationSection  label  img {
    display: inline-block;
    padding: 0px;
    height:30px;
    width:30px;
    background: none;
}

.specificationSection  label  input:checked +img {  
    background: url('/img/ico/blue-tick-icon.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size:30px 30px;
}


/*++++++++++++++++++++++++>Anitha : Dedicated Server + Data Center Locations Section <+++++++++++++++++++++++++ */
.dedicatedServer ,.locations {
    padding-top:30px ;
    background: #f7f7f7 url('../img/ico/dedicated_table1_bg.png');
    padding-bottom:30px ;
}
.dedicatedServer hr,.locations hr{
	margin-top: 0px; 
	margin-bottom: 0px; 
	border: 0;
	border-top: 2px solid #3F51B5;
	width: 20%;
}
.dedicatedServer table{
    border: 1px solid #ccc;
}
.dedicatedServer table thead{
	/*background-color: #009696;*/
	background-color: #07539e;
	color: #fff;
}
.dedicatedServer table tbody tr:nth-child(even) td {
	background-color: #f8f8f8;
}
.dedicatedServer table tr {
	border: 1px solid #ddd;
	padding: 5px;
}
.dedicatedServer table tbody td {
	background-color: #fff;
}

.dedicated_features {
	padding-top:20px;
	padding-bottom:20px;
}
.dedicated_features table{
	width: 100%;
	table-layout: fixed;
	border:1px solid grey;
}
table .features {
	background-color: ghostwhite;
	text-align: left;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight:bold;
}
.dedicated_features hr{
	margin-top: 16px; 
	margin-bottom: 16px; 
	border: 0;
	border-top: 2px solid #3F51B5;
	width: 20%;
}
.dedicated_features table tr td:nth-child(even){
	background-color: floralwhite;
}
.location-heading {
	color:#29539e;;
	font-size:17px;
}.location-headingContent {
	font-size:14px;
}
/*++++++++++++++++++++++++>Anitha : Dedicated Server + Data Center Locations Section <+++++++++++++++++++++++++ */

/*++++++++++++++++++++++++> Section : Managed Services Page<+++++++++++++++++++++++++ */
.prod{
    background-color: #07539e;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.pro{
    background-color: #55aaed;
    color:white;
}
.vpsServer table tr td:nth-child(even) {
    background-color:#d2d0d0;
}
.vpsServer table tr td:nth-child(odd) {
    background-color: #d2d0d0;
}
.supportFeatures{
    background-color: ghostwhite;
}
.lines{
    border-bottom: 1px solid  #cdcecc;
}
.call-now-feature-box {
    text-align: center;
    font-size: 1em;
    line-height: 1.9em;
    margin: 0;
    padding: 1em;
}
.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	
}
.btn-primary{
	background-color: #35CBDF;
	border-color: #35CBDF;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.btn-primary:hover,.btn-primary:focus{
	background-color: #00BED7;
	border-color: #00BED7;
}
.btn-capsul{
	border-radius: 50px;
}
i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
i.box-circle-solid{
	background-color:#35CBDF;
	border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}
.call-now{
    padding-bottom: 20px;
}
.info{
    float: right;
    margin-right: 30%;
}
.br{
    border: solid 1px #cdcecc;    
}
.text{
    color: black;
}
.text:hover{
    color: navy;
   
    font-weight: bold;
}
.box{
    box-shadow:20px 20px 40px grey;}
.call-now{
    background-color: #ececec;
}
.managedServices-heading{
    color:navy;
}

/*-------------------------support Page------------------*/

.supportSection1,.supportSection2,.supportSection3,.supportSection4{
	font-size: 1.1em;
    line-height: 2em;
}
.section2-body,.section3-body{
	border:1px solid #e0dbdb;
	background-color:#dcdce6;
	border-radius: 10px;
}
.cards{
	background-color:#21214e;
	color:white;
}
.cardButton{
	border-radius: 40px !important;
	width:250px;
}
.downloadButton{
	border-radius: 40px !important;
	width:270px;
	animation: mymove 5s infinite;
}


/*-------------------------Login and Register page------------------*/

#contact label{
    
    /* width: 100px;
    text-align: right; */
}
#contact_submit{
    /* padding-left: 100px; */
}
#contact div{
    margin-top: 0em;
}
textarea{
    vertical-align: top;
    height: 5em;
}
    
.error{
    display: none;
    margin-left: 10px;
}		

.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}

.req{
    color:red;
}


#pswd_info {
    position:relative;
    width:95%;
    padding:5px;
    font-size:12px;
  
}

#pswd_info h4 {
  margin:0 0 10px 0;
  padding:0;
  font-size:12px;
  font-weight:normal;
color:#000;
}

.invalid {
  background:url(../images/invalid.png) no-repeat 0 50%;
  
  line-height:24px;
  color:#ec3f41;
}
.valid {
  background:url(../images/valid.png) no-repeat 0 50%;
  line-height:24px;
  color:#3a7d34;
}
#pswd_info {
  display:none;
}

.flex, .flex-no-mobile {
    display: flex;
    flex-flow: row wrap;
}

.config-label, .slider-parameter-item .ssd-config-label-left, .cloud-steps .step-wrap .cloud-spec-label-left, .cloud-steps .step-wrap .cloud-spec-label-right {
    text-transform: uppercase;
    font-family: latoblack;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.primary-sml-box {
    border: 2px solid #2dbb69;
    padding: .5em 1em;
    width: 86px;
    text-align: center;
    /* margin-left:55px; */
}

.flex-1 {
    flex:0.2 0 0.000000000000000000001%
}

.checkout,  .checkout-price {
    margin-top: 0;
    font-size: 1.7em;
    color: darkviolet;
}
.checkout-month-price {
    margin-top: 0;
    font-size: 1.7em;
    color: #000;
}
.white-box.less-pad {
    padding: 5px 13px 0px 10px;
   
}
.white-box {
    background-color: #fff;
    padding: 3em 2em;
    margin: 0;
}

.order-ind-sec {
     margin-bottom: -30px; 
         /* margin-bottom: 2em; */
}


.order-sec-row:last-of-type {
    margin-bottom: 0;
    border: none;
}

.flex-3 {
    flex: 0.8 1 0.000000000000000000001%;
}

.order-sec-row:last-of-type {
    margin-bottom: 0;
    border: none;
}
#checkout input, .checkout select {
    font-size: .9em;
}

.d-block {
    display: block;
}

.config-label-cap {
    font-family: latoblack;
    font-weight: normal;
}

.button-green {
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    border: 1px solid #26af61;
    background: -webkit-linear-gradient(#2ecb70, #27ae61);
    background: -moz-linear-gradient(#2ecb70, #27ae61);
    background: -o-linear-gradient(#2ecb70, #27ae61);
    background: linear-gradient(#2ecb70, #27ae61);
}

.btn-green:hover, .button-green:hover {
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all .3s;
}

.btn.btn-sm, .btn-sm.btn-green, .btn-sm.button-green, .btn-sm.btn-white, .btn-sm.button-white {
    font-size: 14px;
    padding: 10px 35px;
}

.btn, .btn-green, .button-green, .btn-white, .button-white {
    display: inline-block;
    text-transform: uppercase;
    font-family: latoblack;
    padding: 17px 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    letter-spacing: .02em;
}
.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input[type=text], .input[type=password], .input[type=email], textarea {
    padding: 10px;
    border: 1px solid #bfbfbf;
}

.coupon-code {
    min-width: 50%;
}

.to-pay-now {
    margin-top: 5px;
    color: darkviolet;
    font-family: latoblack;
}
.space-between {
    justify-content: space-between;
    align-items: center;
}
.flex, .flex-no-mobile {
    display: flex;
    flex-flow: row wrap;
}

.order-summary {
    font-size: 22px;
}